<div class="page2">
  <h1>Page 2</h1>

  <div style="display: flex">
    <button (click)="incrementCounterOnService1()">Increment Counter</button>
    <h2>{{ service1Message }}</h2>
  </div>

  <div style="display: flex">
    <button (click)="incrementCounterOnService2()">Increment Counter</button>
    <h2>{{ service2Message }}</h2>
  </div>

  <div style="display: flex">
    <button (click)="incrementCounterOnService1Dependency()">Counter++</button>
    <h2>{{ service1DependencyMessage }}</h2>
  </div>

  <app-widget1></app-widget1>

  <app-widget2></app-widget2>
</div>
